NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
INTERNAL_PROXY_SECRET=
STICKER_MAX_CONCURRENCY=1
STICKER_MAX_QUEUE=4
STICKER_RATE_LIMIT_10M_MAX=3
STICKER_RATE_LIMIT_DAILY_MAX=20
STICKER_TMP_TTL_MS=300000
